CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PORT=3000

MONGO_URI=localhost:27017/eboxDB

JWT_SECRET=1234rfgy9786576434wsdchi809786756453wdlp0986756453876esxcghj87654ed

SENDERS_EMAIL=flimzyzamani@gmail.com
SENDERS_PASSWORD=gygthhtfbqeenfdq